@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  min-width: 1280px;
  height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.page-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 8px 10px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 20px;
  color: #ffffff;
  background: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-second {
  background-color: #82b3d3;
}

.button-select {
  background-color: #7db54f;
}

.button-reset {
  background-color: transparent;
}

.button-big {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.page-container {
  width: 1280px;
  margin: 0 auto;
  background: #ffffff;
}

.page-header {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: start;
  padding: 0 70px;
  color: #000000;
  background: #ffffff;
}

.logo {
  margin-right: 28px;
  width: 140px;
  height: 70px;
  align-self: flex-start;
  margin-bottom: -6px;
  z-index: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 20px;
}

.navigation-list {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  max-width: 180px;
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  background: #ffffff;
}

.navigation-user .navigation-link {
  width: 44px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.navigation-link-search {
  background-image: url("../images/icons/search.svg");
}

.navigation-link-favorite {
  background-image: url("../images/icons/heart.svg");
}

.favorite-count {
  position: absolute;
  top: 10px;
  right: 5px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background: #7db54f;
  border-radius: 100vh;
}

.page-header-button {
  margin-top: 14px;
  margin-left: 20px;
  width: 160px;
}

.main {
  flex-grow: 1;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  color: white;
  background-color: #7db54f;
  background-image:
    url("../images/icons/divider.svg"),
    url("../images/hero/hero-background.jpg");
  background-size: 100% auto, cover;
  background-position: center bottom, center;
  background-repeat: no-repeat;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.advantages {
  padding-top: 69px;
  text-align: center;
}

.advantages-title {
  width: 620px;
  margin: 0 auto 25px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description {
  width: 652px;
  margin: 0 auto 90px;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  padding: 112px 85px;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-title {
  width: 175px;
  margin: 0 auto 62px;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 28px;
  color: #000000;
}

.advantages-item-description {
  margin: 0 auto;
}

.advantages-item.advantages-item-wide {
  grid-column: 1 / -1;
  display: flex;
  padding: 0;
  color: #ffffff;
  background: #82b3d3;
}

.advantages-item-reversed {
  flex-direction: row-reverse;
}

.advantages-item-wide .advantages-item-content {
  padding: 102px 85px;
}

.advantages-item.advantages-item-wide .advantages-item-title {
  color: #ffffff;
}

.features {
  padding-top: 64px;
  text-align: center;
}

.features-title {
  width: 505px;
  margin: 0 auto 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.features-description {
  width: 490px;
  margin: 0 auto 64px;
  font-size: 22px;
  line-height: 26px;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  padding: 82px 85px;
}

.features-item:nth-child(odd) {
  background: rgba(131, 179, 211, 0.12);
}

.features-item-title {
  margin: 102px auto 30px;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 28px;
}

.features-item-description {
  margin: 0 auto;
}

.search {
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.search-title {
  width: 300px;
  margin: 0 auto 20px;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 36px;
  color: #000000;
}

.search-description {
  width: 592px;
  margin: 0 auto 53px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  background-image: url("../images/subscribe/subscribe-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe-title {
  width: 475px;
  margin:0 auto 20px;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 36px;
}

.subscribe-description {
  width: 475px;
  margin: 0 auto 55px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr 232px;
  width: 684px;
  margin: 0 auto;
}

.field {
  padding: 14px 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.subscribe-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.field::placeholder {
  opacity: 0.6;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px;
}

.social {
  width: 142px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item,
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.social-link::before {
  content: "";
  background-color: #83b3d3;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

.social-link:hover::before,
.social-link:focus-visible::before {
  background-color: #68a2ca;
}

.social-link:active::before {
  background-color: rgba(104, 162, 202, 0.3);
}

.social-link-vk::before {
  width: 24px;
  height: 14px;
  mask-image: url("../images/icons/vk.svg");
}

.social-link-tg::before {
  width: 18px;
  height: 15px;
  mask-image: url("../images/icons/telegram.svg");
}

.social-link-yt::before {
  width: 22px;
  height: 17px;
  mask-image: url("../images/icons/youtube.svg");
}

.page-footer-phone {
  font-family: inherit;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.page-footer-phone:hover,
.page-footer-phone:focus-visible {
  color: #756157;
}

.page-footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.page-footer-academy-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 33px;
}

.page-footer-academy-link::before {
  content: "";
  display: block;
  width: 115px;
  height: 33px;
  background-color: #000000;
  mask-image: url("../images/icons/html-academy.svg");
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

.page-footer-academy-link:hover .page-footer-academy-icon,
.page-footer-academy-link:focus-visible .page-footer-academy-icon {
  background-color: #756157;
}

.page-footer-academy-link:active .page-footer-academy-icon {
  background-color: rgba(117, 97, 87, 0.3);
}

.inner-header {
  color: #ffffff;
  padding: 35px 70px 70px;
  background-color: #7db54f;
  background-image: url("../images/header/header-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.inner-header-title {
  margin: 0 auto 8px 0;
  font-size: 60px;
  line-height: 77px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto 41px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: -17px;
  width: 7px;
  height: 10px;
  background-image: url("../images/icons/arrow-right.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  display: block;
  color: inherit;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link-home {
  display: inline-block;
  width: 13px;
  height: 21px;
  background-image: url("../images/icons/home.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 0 70px 0 0;
  width: 150px;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  margin: 0 auto 32px 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 24px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.control-input {
  appearance: none;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.control:not(:last-child) {
  margin-bottom: 16px;
}

.filter-group-price {
  width: 288px;
  margin: 0 auto 0 70px;
  padding: 0;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

.range-wrapper-input:not(:last-child) {
  margin-bottom: 44px
}

.range-wrapper-input {
  position: relative;
}

.range-input {
  width: 143px;
  padding: 13px 50px 13px 20px;
  font: inherit;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.range-input:hover,
.range-input:focus-visible  {
  background-color: #e6e6e6;
}

.range-input:focus-visible {
  outline: 3px solid #83b3d3;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.range-input-min {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.range-input-max {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.catalog-filter-label {
  position: absolute;
  top: 13px;
  right: 20px;
  z-index: 1;
  font-size: 18px;
  opacity: 0.3;
}

/* Price range */
.range:not(:last-child) {
  margin-bottom: 44px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: hsla(0, 0%, 100%, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 #00000040;
}

.range-toggle:focus-visible {
  background: #ffffff;
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px 0 hsla(0, 0%, 0%, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px 0 hsla(0, 0%, 0%, 0.4);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.catalog-filter-buttons {
  padding-top: 56px;
  width: 191px;
  display: flex;
  flex-direction: column;
}

.catalog-filter-button + .catalog-filter-button {
  margin-top: 32px;
}

.catalog-wrapper {
  padding: 0 70px 60px
}

.sort-wrapper {
  display: flex;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 40px;
}

.catalog-found {
  margin: 0 auto 0 0;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  color: #000000;
}

.catalog-select {
  position: relative;
  width: 292px;
  padding: 12px 40px 12px 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
}

.catalog-select {
  background-image: url('../images/icons/arrow-down.svg');
  background-size: 12px 7px;
  background-position: 260px center;
  background-repeat: no-repeat;
}

.catalog-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  align-items: end;
  width: 160px;
  margin: 0 0 0 70px;
  padding: 0;
  list-style: none;
}

.catalog-view-toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.catalog-view-toggle-active {
  border-color: #000000;
}

.catalog-view-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 16px 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.toggle-tile::before {
  background-image: url("../images/icons/cards.svg");
}

.toggle-card::before {
  background-image: url("../images/icons/card.svg");
}

.toggle-list::before {
  background-image: url("../images/icons/list.svg");
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  align-items: stretch;
  gap: 20px;
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-card {
  height: 100%;
}

.hotel-card-inner {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr auto auto auto;
  gap: 15px 20px;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
}

.hotel-card-image-link {
  grid-column: 1 / -1;
}

.hotel-card-image-link {
  overflow: hidden;
}

.hotel-card-image {
  display: block;
}

.hotel-card-title {
  grid-column: 1 / -1;
  margin: 0 ;
  font-size: 24px;
  line-height: 32px;

}

.hotel-card-title-link {
  text-decoration: none;
  color: #000000;
}

.hotel-card-type {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  text-transform: capitalize;
  line-height: 21px;
}

.hotel-card-stars {
  margin: auto auto auto 0;
}

.hotel-card-stars::before {
  content: "";
  display: block;
  height: 17px;
  background-image: url("../images/icons/star.svg");
  background-repeat: repeat-x;
  background-size: contain;
}

.hotel-card-stars-1 {
  width: 24px;
}

.hotel-card-stars-2 {
  width: 48px;
}

.hotel-card-stars-3 {
  width: 72px;
}

.hotel-card-stars-4 {
  width: 96px;
}

.hotel-card-stars-5 {
  width: 120px;
}

.hotel-card-rating {
  margin: 0;
  padding: 8px 10px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-item-ellipsis {
  padding: 16px 20px;
}

.pagination-link:hover,
.pagination-link:focus-visible {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);;
  background-color: #82b3d3;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
  pointer-events: none;
  cursor: default;
}

.main-inner .subscribe {
  color: #333333;
  background: none;
}

.main-inner .subscribe-title {
  color: #000000;
}
